.select {
  margin: auto;
  width: 50%;
  justify-content: center;
  align-content: center;

  padding-top: 5rem;

  & > h1 {
    width: 100%;
    text-align: center;
    font-size: 4em;
    font-family:
      "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
      Arial, sans-serif;
    text-shadow: gray 1px 1px 1px;
  }

  & > .project-select {
    margin: auto;
    width: 40%;

    max-height: fit-content;

    .login-prompt {
      margin: auto;
      width: max-content;
    }

    .drop {
      font-family:
        "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
        Arial, sans-serif;
      font-size: 1.25em;
      width: 100%;
      display: flex;
      gap: 3px;
      border: solid 1px var(--moonstone);
      border-radius: 0.3em;
      background-color: var(--snow);
      cursor: pointer;
      padding: 10px;
      &:hover {
        border: solid 2px var(--blue);
      }

      .icon {
        margin-left: auto;
        width: 25px;
        height: 25px;
      }
    }
  }
}

.dropdown {
  border: solid 1px var(--moonstone);
  border-radius: 1em;
  background-color: var(--snow);

  min-width: 15vw;

  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}
