#Individual file
489-tampere-autumn 2024.json

#Ignore all filetypes
*.json
*.joblib

#Allow test file with made up data
!data/cleaned_data_test.json
!data/cleaned_data_motivation_test.json

#Data
data/example.txt
!data/test*
!/data/test_data/
!data/test_data/*

#ML Models


#Python cache files
__pycache__/
__pycache__/*

#Pytest
.coverage
htmlcov/
.pytest_cache/

#VS code
.vscode/
.vscode/*
