venv/

# Just in case. If trying to add the following filetype,
# it will have to be forced by manually entering the path
# to the file you want to add.
*.json
*.csv

**/node_modules

# Super-linter outputs
super-linter-output
super-linter.log

# GitHub Actions leftovers
github_conf

#Allow test file with made up data
!ml/data/cleaned_data_test.json
!ml/data/cleaned_data_motivation_test.json