.score-label {
  border: solid 1px black;
  border-radius: 0.25rem;
  overflow: hidden;

  display: flex;
  margin-left: auto;
  align-items: center;

  font-size: smaller;

  & > .score {
    padding: 2px 2px 2px 5px;
    background-color: rgb(198, 230, 125);
    position: relative;
    display: inline-block;
  }

  & > .motivation {
    padding: 2px 5px 2px 2px;
    background-color: rgb(125, 158, 230);
  }
}
