.training-page {
    margin: auto;
    width: 50%;
    justify-content: center;
    align-content: center;

    & > .initializer {
        // display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        gap: 5px;
        padding-top: 1em;

        & > h2 {
            text-align: center;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            text-shadow: gray 1px 1px 1px;
        }

        & > .inputs {
            padding-top: 1em;
            margin: auto;
            width: fit-content;

            & > label {
                width: min-content;
                & > input {
                    width: 2em;
                }
            }

            & > button {
                font-size: 1em;
                margin-left: 10px;
                padding: 0.5em;
                border-radius: 0.5em;
                border: 1px solid var(--blue);
                background-color: var(--uranian);
                cursor: pointer;
                &:hover {
                    background-color: var(--dark-uranian);
                    border: 3px solid var(--blue)
                }
            }
        }

        
    }

    & > .training-status > p {
        padding-top: 1em;
        margin: auto;
        width: max-content;
    }
}